@model EcommerceDemo.Models.ProductsViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="db-bx p-4 mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h3 class="mb-0"><strong>Add New Product</strong></h3>
        </div>
        <div>

        </div>
    </div>
</div>

<div class="db-bx mt-4">
    <div class="p-5">



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">

                    <label for="CategoryName">Category Name</label>
                    @Html.DropDownListFor(m => m.CategoryID, new SelectList(ViewBag.CategoryList, "ID", "CategoryName"), "-Select Category - ", new { id = "ddlCategory", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">

                    <label for="ProductName">Product Name</label>
                    @Html.TextBoxFor(model => model.ProductName, new { @placeholder = "Product Name", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row">
                
                <div class="col-md-6">

                    <label for="Price">Price</label>
                    @Html.TextBoxFor(model => model.Price, new { @placeholder = "Price", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-5">

                </div>
                <div class="col-md-6">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="/ProductMaster/Index" class="btn btn-default">Back</a>
                </div>
            </div>

        }
    </div>
</div>

